@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 3, 7, 18;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Components */
.btn-primary {
  border-radius: 25px;
  padding: 4px;
  padding-left: 36px;
  padding-right: 36px;
}

.cta-primary {
  background-color: rgb(251,103,227);

  &:hover {
    background-color: rgb(251, 164, 237) !important;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: flex-start; */
  justify-content: center;
}

.sm-card {
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(47,46,46);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: calc(32.5% - 10px); /* 3 in a row for larger screens */
  margin: 8px;
  margin-bottom: 16px;
  justify-content: center;
}

@media (max-width: 768px) {
  .sm-card {
    width: calc(50% - 8px); /* 2 in a row for mobile views */
    margin: 4px;
    font-size: 12px;
    justify-content: left;
  }

  .card-container {
    justify-content: left;
  }
}


a:-webkit-any-link {
  text-decoration: none;
  /* color: inherit;
  width: inherit; */
}
